<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="alglib.net" version="3.16.0" targetFramework="net472" />
  <package id="KdTree" version="1.4.1" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net472" />
  <package id="MathNet.Numerics.OpenBLAS.Win" version="0.2.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Nifti.NET" version="1.1.1" targetFramework="net472" />
  <package id="OpenTK" version="3.2" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="PriorityQueues_boraaros" version="2.0.1" targetFramework="net472" />
</packages>